
.footer {
  background-color: white;
  border-top: 1px solid var(--border-color);
  padding: 3rem 0;
}

.footer-content {
  text-align: center;
  font-style: italic;
}

.footer-text {
  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--text-muted);
}

.heart {
  color: #446fef;
  margin: 0 0.25rem;
}
